.select__input {
    appearance: none;
    margin: 0;
    font-family: inherit;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: transparent;
}


.select__input option {
    background: #777;
}

option:checked {
    background: #646cff !important;
}

/* force change option background on mouse hover with all method possible */

select:hover {
    background: #646cff !important;
}